[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Subversion Module
Name[ca]=Mòdul KDED de Subversion
Name[cs]=KDED Subversion modul
Name[da]=KDED Subversion modul
Name[de]=KDED Subversion-Modul
Name[es]=Módulo de Subversion de KDED
Name[et]=KDED Subversioni moodul
Name[eu]=KDED Subversion modulua
Name[fr]=Module KDED Subversion
Name[hu]=KDED Subversion modul
Name[is]=KDED Subversion eining
Name[it]=Modulo Subversion di KDED
Name[nb]=KDED Subversion Modul
Name[nl]=KDED Subversion-module
Name[pl]=Moduł Subversion dla KDED
Name[pt]=Módulo KDED Subversion
Name[pt_BR]=Módulo de Sub-versão KDED
Name[ru]=Моудль Subversion KDED
Name[sl]=Modul Subversion za KDED
Name[sr]=KDED модул за Subversion
Name[sr@Latn]=KDED modul za Subversion
Name[sv]=KDED Subversion-modul
Name[uk]=Модуль KDED Subversion
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=ksvnd
X-KDE-FactoryName=ksvnd
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
