[Desktop Entry]
Type=Service
Name=KDED Subversion Module
Name[bg]=Модул KDED Subversion
Name[br]=Mollad Subversion KDED
Name[ca]=Mòdul KDED de Subversion
Name[cs]=KDED Subversion modul
Name[da]=KDED Subversion modul
Name[de]=Subversion-Unterstützung
Name[el]=Άρθρωμα KDED Subversion
Name[es]=Módulo de Subversion de KDED
Name[et]=KDED Subversioni moodul
Name[eu]=KDED Subversion modulua
Name[fa]=پیمانۀ زیرنسخۀ KDED
Name[fi]=KDED Subversion -moduuli
Name[fr]=Module KDED Subversion
Name[ga]=Modúl Subversion KDED
Name[gl]=Módulo KDED Subversion
Name[hu]=KDED Subversion modul
Name[is]=KDED Subversion eining
Name[it]=Modulo Subversion di KDED
Name[ja]=KDED Subversion モジュール
Name[ka]=KDED Subversion მოდული
Name[kk]=KDED Subversion қызмет модулі
Name[lt]=KDED Subversion modulis
Name[nb]=KDED Subversion-modul
Name[nds]=KDED Subversion-Moduul
Name[ne]=केडीईडी उप संस्करण मोड्युल
Name[nl]=KDED Subversion-module
Name[nn]=KDED Subversion-modul
Name[pa]=KDED ਸਬ-ਵਰਜਨ ਮੈਡੀਊਲ
Name[pl]=Moduł Subversion dla KDED
Name[pt]=Módulo KDED Subversion
Name[pt_BR]=Módulo de Sub-versão KDED
Name[ru]=Служба Subversion
Name[sk]=KDED Subversion modul
Name[sl]=Modul Subversion za KDED
Name[sr]=KDED модул за Subversion
Name[sr@Latn]=KDED modul za Subversion
Name[sv]=KDED Subversion-modul
Name[tr]=KDED Alt Versiyon Modülü
Name[uk]=Модуль KDED Subversion
Name[zh_CN]=KDED Subversion 模块
Name[zh_TW]=KDED Subversion 模組
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=ksvnd
X-KDE-FactoryName=ksvnd
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
