[Desktop Entry]
ServiceTypes=text/x-diff
#uncomment when Exec is implemented
#Actions=Apply
X-KDE-Priority=TopLevel

[Desktop Action Apply]
Name=Apply Patch...
Name[bg]=Прилагане на кръпка...
Name[ca]=Aplica pedaç...
Name[cs]=Aplikovat záplatu...
Name[da]=Anvend rettelse...
Name[de]=Patch einspielen ...
Name[el]=Εφαρμογή επιδιόρθωσης...
Name[eo]=Apliki Flikon...
Name[es]=Aplicar parche...
Name[et]=Paiga rakendamine...
Name[eu]=Aplikatu adabakia...
Name[fa]=اعمال کژنه...
Name[fi]=Toteuta korjaus...
Name[fr]=Appliquer le correctif...
Name[ga]=Cuir Paiste i bhFeidhm...
Name[gl]=Aplicar un parche...
Name[he]=החל את הטלאי...
Name[hu]=Folt alkalmazása...
Name[is]=Virkja plástur...
Name[it]=Applica correzione...
Name[ja]=パッチを適用...
Name[ka]=ბებკის გააქტიურება...
Name[kk]=Жамауды қолдану...
Name[lt]=Pritaikyti pataisymą...
Name[nb]=Bruk lapp …
Name[nds]=Kodeplaster inspelen...
Name[ne]=लागू प्याच...
Name[nl]=Patch toepassen...
Name[nn]=Bruk lapp …
Name[pa]=ਪੈਂਚ ਲਾਗੂ...
Name[pl]=Nałóż łatę...
Name[pt]=Aplicar um 'Patch'...
Name[pt_BR]=Aplicar um 'Patch'...
Name[ru]=Применить заплатку...
Name[sk]=Aplikovať záplatu...
Name[sl]=Uveljavi popravek ...
Name[sr]=Примени закрпу...
Name[sr@Latn]=Primeni zakrpu...
Name[sv]=Utför programfix...
Name[tr]=Yamayı Uygula...
Name[uk]=Застосувати латку...
Name[zh_CN]=应用补丁...
Name[zh_TW]=套用修補...
Icon=apply
Exec=
Comment=Apply the patch to another folder/file
Comment[bg]=Прилагане на кръпка към друга директория/файл
Comment[ca]=Aplica el pedaç a una altra carpeta o fitxer
Comment[cs]=Aplikovat záplatu na jiný soubor/složku
Comment[da]=Anvend rettelsen på en anden mappe/fil
Comment[de]=Spielt den Patch in einen/eine andere(n) Ordner/Datei ein
Comment[el]=Εφαρμογή της επιδιόρθωσης σε άλλο φάκελο/αρχείο
Comment[es]=Aplicar el parche a otra carpeta o archivo
Comment[et]=Paiga rakendamine teisele kataloogile/failile
Comment[eu]=Aplikatu adabakia beste karpeta/fitxategi bati
Comment[fa]=اعمال کژنه به پوشه/پروندۀ دیگر
Comment[fi]=Toteuta korjaus toiseen kansioon/tiedostoon
Comment[fr]=Appliquer le correctif sur un autre dossier / fichier
Comment[ga]=Cuir an paiste i bhfeidhm ar fhillteán/chomhad eile
Comment[gl]=Aplicar o parche noutro cartafol/ficheiro
Comment[hu]=A folt alkalmazása másik könyvtárra vagy fájlra
Comment[is]=Virkja plásturinn á aðra möppu/skrá
Comment[it]=Applica la correzione a un'altra cartella o file
Comment[ja]=他のフォルダやファイルへパッチを適用します。
Comment[ka]=ბებკის სხვა საქაღალდეზე/ფაილზე გააქტიურება
Comment[kk]=Басқа қапшық/файлға жамауды қолдану
Comment[lt]=Pritaikyti pataisymą kitam aplankui/bylai
Comment[nb]=Bruk lappen på en annen mappe/fil
Comment[nds]=Kodeplaster op en anner Orner/Datei anwennen
Comment[ne]=अन्य फोल्डर/फाइलमा प्याच लागू गर्नुहोस्
Comment[nl]=Patch toepassen op een andere map of een ander bestand
Comment[nn]=Bruk lappen på ei anna mappe/fil
Comment[pa]=ਹੋਰ ਫੋਲਡਰ/ਫਾਇਲ ਲਈ ਪੈਂਚ ਲਾਗੂ
Comment[pl]=Nałożenie łaty na inny plik/katalog
Comment[pt]=Aplicar o 'patch' (actualização) noutra pasta/ficheiro
Comment[pt_BR]=Aplicar o 'patch' (atualização) noutra pasta/arquivo
Comment[ru]=Применить заплатку к другой папке или файлу
Comment[sk]=Aplikovať záplatu na iný priečinok/súbor
Comment[sl]=Uveljavi popravek za drugo mapo/datoteko
Comment[sr]=Примени закрпу на другу фасциклу/фајл
Comment[sr@Latn]=Primeni zakrpu na drugu fasciklu/fajl
Comment[sv]=Utför en programfix för en annan katalog eller fil
Comment[tr]=Yamayı diğer dizine/dosyaya uygula
Comment[uk]=Застосувати латку до іншої теки файла
Comment[zh_CN]=将补丁应用到其它文件夹/文件
Comment[zh_TW]=套用修補到另一個資料夾/檔案

