[Desktop Entry]
ServiceTypes=text/x-diff
#uncomment when Exec is implemented
#Actions=Apply
X-KDE-Priority=TopLevel

[Desktop Action Apply]
Name=Apply Patch...
Name[bg]=Прилагане на кръпка...
Name[da]=Anvend rettelse...
Name[et]=Paiga rakendamine...
Name[ga]=Cuir Paiste i bhFeidhm...
Name[pa]=ਪੈਂਚ ਲਾਗੂ...
Name[sr]=Примени закрпу...
Name[sr@Latn]=Primeni zakrpu...
Name[sv]=Utför programfix...
Name[tr]=Yamayı Uygula...
Icon=apply
Exec=
Comment=Apply the patch to another folder/file
Comment[bg]=Прилагане на кръпка към друга директория/файл.
Comment[da]=Anvend rettelsen på en anden mappe/fil
Comment[et]=Paiga rakendamine teisele kataloogile/failile
Comment[sr]=Примени закрпу на другу фасциклу/фајл
Comment[sr@Latn]=Primeni zakrpu na drugu fasciklu/fajl
Comment[sv]=Utför en programfix för en annan katalog eller fil
Comment[tr]=Yamayı diğer dizine/dosyaya uygula

