[Desktop Entry]
ServiceTypes=text/x-diff
#uncomment when Exec is implemented
#Actions=Apply
X-KDE-Priority=TopLevel

[Desktop Action Apply]
Name=Apply Patch...
Name[bg]=Прилагане на кръпка...
Name[cs]=Aplikovat záplatu...
Name[da]=Anvend rettelse...
Name[de]=Patch einspielen...
Name[et]=Paiga rakendamine...
Name[ga]=Cuir Paiste i bhFeidhm...
Name[it]=Applica correzione...
Name[nl]=Patch toepassen...
Name[pa]=ਪੈਂਚ ਲਾਗੂ...
Name[sr]=Примени закрпу...
Name[sr@Latn]=Primeni zakrpu...
Name[sv]=Utför programfix...
Name[tr]=Yamayı Uygula...
Name[xx]=xxApply Patch...xx
Icon=apply
Exec=
Comment=Apply the patch to another folder/file
Comment[bg]=Прилагане на кръпка към друга директория/файл.
Comment[da]=Anvend rettelsen på en anden mappe/fil
Comment[de]=Spielt den Patch in einen/eine andere(n) Ordner/Datei ein
Comment[et]=Paiga rakendamine teisele kataloogile/failile
Comment[it]=Applica la correzione a un'altra cartella o file
Comment[nl]=Patch toepassen op een andere map of een ander bestand
Comment[pa]=ਹੋਰ ਫੋਲਡਰ/ਫਾਇਲ ਲਈ ਪੈਂਚ ਲਾਗੂ
Comment[sr]=Примени закрпу на другу фасциклу/фајл
Comment[sr@Latn]=Primeni zakrpu na drugu fasciklu/fajl
Comment[sv]=Utför en programfix för en annan katalog eller fil
Comment[tr]=Yamayı diğer dizine/dosyaya uygula
Comment[xx]=xxApply the patch to another folder/filexx

