[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory,all/all
X-KDE-Submenu=Subversion
X-KDE-Submenu[x-test]=xxSubversionxx
#X-KDE-ShowIfDcopCall=kded ksvnd anyValidWorkingCopy(KUrl::List)

#Return type of below is a QStringList with a list of Actions which is appended to the Actions above
X-KDE-GetActionMenu=kded ksvnd getActionMenu(KUrl::List)

[Desktop Action Add]
Name=Add to Repository
Name[x-test]=xxAdd to Repositoryxx
Icon=svn_add
Exec=kio_svn_helper -a %U

[Desktop Action Delete]
Name=Delete From Repository
Name[x-test]=xxDelete From Repositoryxx
Icon=svn_remove
Exec=kio_svn_helper -d %U

[Desktop Action Revert]
Name=Revert Local Changes
Name[x-test]=xxRevert Local Changesxx
Icon=undo
Exec=kio_svn_helper -r %U
Comment=Remove any changes made locally. Warning - this cannot be undone.
Comment[x-test]=xxRemove any changes made locally. Warning - this cannot be undone.xx

[Desktop Action Rename]
Name=Rename...
Name[x-test]=xxRename...xx
Icon=pencil
Exec=kio_svn_helper -r %U
Comment=Rename a file locally and in the repository.  Use this rather than adding and deleting to rename a file.
Comment[x-test]=xxRename a file locally and in the repository.  Use this rather than adding and deleting to rename a file.xx

[Desktop Action Import]
Name=Import Repository
Name[x-test]=xxImport Repositoryxx
Icon=svn_import
Exec=kio_svn_helper -i %U
Comment=Put folder into an existing repository to put it under revision control.
Comment[x-test]=xxPut folder into an existing repository to put it under revision control.xx

[Desktop Action Checkout]
Name=Checkout From Repository...
Name[x-test]=xxCheckout From Repository...xx
Icon=svn_checkout
Exec=kio_svn_helper -C %U
Comment=Checkout out files from an existing repository into this folder.
Comment[x-test]=xxCheckout out files from an existing repository into this folder.xx

[Desktop Action Switch]
Name=Switch...
Name[x-test]=xxSwitch...xx
Icon=svn_switch
Comment=Switch given working copy to another branch
Comment[x-test]=xxSwitch given working copy to another branchxx
Exec=kio_svn_helper -s %U

[Desktop Action Merge]
Name=Merge...
Name[x-test]=xxMerge...xx
Icon=svn_merge
Comment=Merge changes between this and another branch
Comment[x-test]=xxMerge changes between this and another branchxx
Exec=kio_svn_helper -m %U

[Desktop Action Blame]
Name=Blame...
Name[x-test]=xxBlame...xx
Icon=svn_blame
Comment=See who wrote each line of the file and in what revision
Comment[x-test]=xxSee who wrote each line of the file and in what revisionxx
Exec=kio_svn_helper -b %U

[Desktop Action CreatePatch]
Name=Create Patch...
Name[x-test]=xxCreate Patch...xx
Exec=kio_svn_helper -p %U

[Desktop Action Export]
Name=Export...
Name[x-test]=xxExport...xx
Icon=svn_export
Exec=kio_svn_helper -e %U
Comment=Checkout out an unversioned copy of a tree from a repository
Comment[x-test]=xxCheckout out an unversioned copy of a tree from a repositoryxx

[Desktop Action Diff]
Name=Diff (local)
Name[x-test]=xxDiff (local)xx
Icon=svn_diff
Exec=kio_svn_helper -D %U
Comment=Show local changes since last update
Comment[x-test]=xxShow local changes since last updatexx

