[Desktop Entry]
ServiceTypes=inode/directory,all/all
Actions=T
X-KDE-Priority=TopLevel

X-KDE-GetActionMenu=kded ksvnd getTopLevelActionMenu(KURL::List)

[Desktop Action Update]
Name=SVN Update
Icon=subversion
Exec=kio_svn_helper -u %U

[Desktop Action Commit]
Name=SVN Commit
Icon=subversion
Exec=kio_svn_helper -c %U

[Desktop Action Checkout]
Name=SVN Checkout
Icon=subversion
Exec=

[Desktop Action T]
Name=T
Icon=subversion
Exec=

