[Desktop Entry]
ServiceTypes=inode/directory,all/all
X-KDE-Submenu=Subversion
#X-KDE-ShowIfDcopCall=kded ksvnd anyValidWorkingCopy(KURL::List)

#Return type of below is a QStringList with a list of Actions which is appended to the Actions above
X-KDE-GetActionMenu=kded ksvnd getActionMenu(KURL::List)

[Desktop Action Add]
Name=Add to the repository
Icon=svn_add
Exec=kio_svn_helper -a %U

[Desktop Action Delete]
Name=Delete from the repository
Icon=svn_remove
Exec=kio_svn_helper -d %U

[Desktop Action Revert]
Name=Revert local changes
Icon=subversion
Exec=kio_svn_helper -r %U
Comment=Remove any changes make locally. Warning - this cannot be undone.

[Desktop Action Rename]
Name=Rename...
Icon=subversion
Exec=kio_svn_helper -r %U
Comment=Rename a file locally and in the repository.  Use this rather than adding and deleting to rename a file.

[Desktop Action Import]
Name=Import a repository
Icon=subversion
Exec=kio_svn_helper -i %U
Comment=Put folder into an existing repository to put it under revision control.

[Desktop Action Checkout]
Name=Checkout from a repository
Icon=subversion
Exec=kio_svn_helper -C %U
Comment=Checkout out files from an existing repository into this folder.

[Desktop Action Switch]
Name=Switch...
Comment=Switch given working copy to another branch
Exec=kio_svn_helper -s %U

[Desktop Action Merge]
Name=Merge...
Comment=Merge changes between this and another branch
Exec=kio_svn_helper -m %U

[Desktop Action Blame]
Name=Blame...
Comment=See who wrote each line of the file and in what revision
Exec=kio_svn_helper -b %U

[Desktop Action CreatePatch]
Name=Create Patch...
Exec=kio_svn_helper -p %U

[Desktop Action Export]
Name=Export...
Exec=kio_svn_helper -e %U
Comment=Checkout out an unversioned copy of a tree from a repository

