[Desktop Entry]
ServiceTypes=inode/directory,all/all
X-KDE-Priority=TopLevel

X-KDE-GetActionMenu=kded ksvnd getTopLevelActionMenu(KURL::List)

[Desktop Action Update]
Name=SVN Update
Name[bg]=Обновяване SVN
Name[ca]=Actualitza SVN
Name[cs]=SVN update
Name[da]=SVN Opdatér
Name[de]=Aktualisieren (SVN)
Name[el]=Ενημέρωση SVN
Name[es]=Actualizar SVN
Name[et]=SVN uuendamine
Name[eu]=SVN eguneratu
Name[fa]=به‌روزرسانی  SVN
Name[fi]=SVN-päivitys (Update)
Name[fr]=Mise à jour SVN
Name[gl]=Actualización SVN
Name[he]=עדכון SVN
Name[hu]=SVN frissítés
Name[is]=Uppfæra SVN
Name[it]=Aggiornamento SVN
Name[ja]=SVN アップデート
Name[ka]=SVN განახლება
Name[kk]=SVN жаңарту
Name[lt]=SVN atnaujinti
Name[ms]=Kemaskini SVN
Name[nb]=SVN oppdater
Name[nds]=SVN-Archiv opfrischen
Name[ne]=एसभीएन अद्यावधिक
Name[nl]=SVN bijwerken
Name[nn]=SVN oppdater
Name[pa]=SVN ਅੱਪਡੇਟ
Name[pl]=Uaktualnij
Name[pt]=Actualização do SVN
Name[pt_BR]=Atualização a partir do SVN
Name[ru]=Обновить
Name[sk]=SVN aktualizácia
Name[sl]=Posodobitev SVN
Name[sr]=SVN ажурирање
Name[sr@Latn]=SVN ažuriranje
Name[sv]=SVN-uppdatera
Name[tr]=SVN Güncelleme
Name[uk]=SVN-оновлення
Name[zh_CN]=SVN 更新
Name[zh_TW]=SVN 更新
Icon=redo
Exec=kio_svn_helper -u %U

[Desktop Action Commit]
Name=SVN Commit
Name[bg]=Изпращане SVN
Name[ca]=Entrega SVN
Name[cs]=SVN commit
Name[de]=Einspielen (SVN)
Name[el]=Καταχώρηση SVN
Name[es]=Entrega SVN
Name[et]=SVN sissekanne
Name[eu]=SVN entregatu
Name[fa]=تصدیق SVN
Name[fi]=SVN-toimitus (Commit)
Name[fr]=Validation SVN
Name[ga]=SVN Cur i bhFeidhm
Name[gl]=Entrega SVN
Name[he]=שליחת שינויים של ה־SVN
Name[hu]=SVN eltárolás
Name[is]=Setja inn í SVN
Name[it]=Deposito SVN
Name[ja]=SVN コミット
Name[ka]=SVN შესრულება
Name[kk]=SVN тапсыру
Name[lt]=SVN išsiųsti
Name[nb]=SVN meld inn
Name[nds]=Na SVN-Archiv inspelen
Name[ne]=एसभीएन कमिट
Name[nl]=SVN vastleggen
Name[nn]=SVN meld inn
Name[pa]=SVN ਕਮਿਟ
Name[pl]=Wyślij
Name[pt]=Envio do SVN
Name[pt_BR]=Envio para o SVN
Name[ru]=Опубликовать
Name[sk]=SVN potvrdenie
Name[sl]=Udejanjanje SVN
Name[sr]=SVN предаја
Name[sr@Latn]=SVN predaja
Name[sv]=SVN-arkivera
Name[tr]=SVN Teslim Etme
Name[uk]=SVN-передання
Name[zh_CN]=SVN 提交
Name[zh_TW]=SVN 提交
Icon=undo
Exec=kio_svn_helper -c %U

